@model PFTW_CW2.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid col-md mt-5">
        <h1>Registration</h1>
        <h4>Please enter your details below.</h4>
    </div>

    @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post, new { @id = "inputForm" }))
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <label id="inputLabel">First Name:</label>
                @Html.TextBoxFor(user => user.firstName, new { @class = "form-control form-control-lg", @id = "inputFirstName", @required = true })
            </div>
            <div class="form-group col-md-6">
                <label id="inputLabel">Last Name:</label>
                @Html.TextBoxFor(user => user.lastName, new { @class = "form-control form-control-lg", @id = "inputLastName", @required = true })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <label id="inputLabel">Email:</label>
                @Html.TextBoxFor(user => user.email, new { @class = "form-control form-control-lg", @id = "inputEmail", @type = "email", @required = true })
            </div>
            <div class="form-group col-md">
                <label id="inputLabel">Password:</label>
                @Html.PasswordFor(user => user.password, new { @class = "form-control form-control-lg", @id = "inputPassword", @required = true, @minlength = 6, @maxlength = 12 })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md">
                <span>I agree to the @Html.ActionLink("terms and conditions", "TermsAndConditions", "Home").</span> @Html.CheckBox("AgreeTerms", new {@required = true})
            </div>
        </div>
        <input id="submitButton" type="submit" class="btn btn-primary btn-lg mt-4">
    }
</div>

@section scripts {

<script>
    $(document).ready(function () {
        var sessionID = document.cookie.split("=")[1];
        var sessionIDNum;

        try {
            sessionIDNum = parseInt(sessionID);
        } catch {
            sessionIDNum = 0;
        }

        if (sessionID == "admin" || sessionIDNum > 0) {
            $("#createCauseLink").css("display", "inline");
        }

        if (sessionID == "admin") {
            $("#adminLink").css("display", "inline");
        }
    });
   
    //event handler for submit button
    $("#submitButton").click(function () {

        //checks if text has been entered in the first name field
        if ($("#inputFirstName").val() < 1) {
            event.preventDefault();
            alert("Please enter a first name");
            return;
        }

        //checks if text has been entered in the second name field
        if ($("#inputSurname").val() < 1) {
            event.preventDefault();
            alert("Please enter a surname");
            return;
        }

        //checks if text has been entered in the field
        if ($("#inputEmail").val() < 1) {
            event.preventDefault();
            alert("Please enter an email");
            return;
        }

        //checks if email is of a valid format
        if ($("#inputEmail").val().indexOf("@@") < 0 || $("#inputEmail").val().indexOf(".") < 0) {
            event.preventDefault();
            alert("Invalid email");
            return;
        }

        //checks if password is of a valid format
        if (!($("#inputPassword").val().length >= 6 && $("#inputPassword").val().length <= 12)) {
            event.preventDefault();
            alert("Password must be between 6 and 12 characters");
            return;
        }

    });
</script>

}
